@import '../utils/vars';
@import '../utils/mixins';

.conference {
  font-family: 'Lato', sans-serif;
  overflow: hidden;
  color: $black;

  h2 {
    font-size: 49px;
    font-weight: 600;
    text-transform: uppercase;
    color: $green;

    @include onTablet {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 43px;
    font-weight: 600;

    @include onTablet {
      font-size: 26px;
    }
  }

  h4 {
    font-size: 26px;
    font-weight: 400;

    @include onTablet {
      font-size: 20px;
    }
  }

  h5 {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;

    @include onTablet {
      font-size: 12px;
    }
  }

  p,
  span {
    color: $black;
  }

  &__main {
    padding-bottom: 48px;
    background-image: url('../assets/images/background-conference.png');
    background-color: $white;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include onPhone {
      padding-bottom: 16px;
      background-position: left;
    }

    &-date {
      @include flexColumnAlignCenter;
      position: absolute;
      top: 66px;
      right: 216px;

      @include onDesktopMiddle {
        right: 140px;
      }

      @include onDesktopSmall {
        top: 36px;
      }

      @include onDesktopMini {
        right: 48px;
      }

      @include onTablet {
        right: 22px;
      }

      &-text {
        font-size: 27px;
        font-weight: 600;
        color: $black;
        text-transform: uppercase;

        @include onTablet {
          font-size: 16px;
        }
      }

      &-text--day {
        font-size: 37px;

        @include onTablet {
          font-size: 23px;
        }
      }

      &-text--month {
        margin: -3px 0 2px 0;
      }

      &-text--time {
        padding: 1px 12px;
        font-size: 14px;
        color: $white;
        background-color: $orange;
        border-radius: 50px;

        @include onTablet {
          padding: 2px 7px;
          font-size: 9px;
        }
      }
    }

    &-description {
      @include flexJustifyBetweenAlignEnd;
      margin-bottom: 86px;
      padding-right: 216px;

      @include onDesktopMiddle {
        padding-right: 140px;
      }

      @include onDesktopMini {
        padding-right: 48px;
      }

      @include onTablet {
        @include flexColumnAlignStart;
        gap: 38px;
        margin-bottom: 70px;
        padding-right: 22px;
      }
    }

    &-titles {
      position: relative;
      @include flexColumnAlignStart;
      gap: 7px;
      margin-left: 32%;
      padding: 81px 0 0 10px;
      border-left: 1px solid $green;

      @include onDesktopSmall {
        padding: 41px 0 0 10px;
      }

      @include onDesktopMicro {
        margin-left: 28%;
      }

      @include onPhone {
        padding: 81px 0 0 10px;
        margin-left: 62px;
      }
    }

    &-subtitle {
      &-left {
        position: absolute;
        top: 139px;
        left: -108px;
        transform: rotate(-90deg);

        @include onTablet {
          top: 114px;
          left: -85px;
        }

        @include onPhone {
          top: 154px;
        }
      }

      &-left span {
        font-size: 30px;
        color: $purple;

        @include onTablet {
          font-size: 23px;
        }
      }

      &-mark span {
        padding: 6px 21px;
        font-size: 12px;
        color: $white;
        background-color: $purple;
        border-radius: 50px;

        @include onTablet {
          padding: 2px 10.5px;
          font-size: 9px;
        }
      }
    }

    &-swiper {
      padding: 0 110px !important;
      max-width: 1645px;
      -webkit-overflow-scrolling: touch;

      @include onDesktopSmall {
        padding: 0 216px !important;
        max-width: 1160px;
      }

      @include onDesktopMini {
        padding: 0 48px !important;
      }

      @include onTablet {
        padding: 0 22px !important;
      }

      @include onPhone {
        padding: 0 4px !important;
        margin-bottom: 20px;
      }
    }

    &-photo {
      @include flexAlignCenter;
      width: 140px;
      height: 140px;
      border-radius: 100%;

      @include onDesktopSmall {
        width: 100px;
        height: 100px;
      }

      @include onPhone {
        width: 62px;
        height: 62px !important;
      }
    }

    &-photo img {
      @include fullImageContainerCover;
      border-radius: 100%;
    }

    &-organisator span {
      display: none;
      font-size: 14px;
      color: $black;

      @include onPhone {
        display: block;
        margin-left: 62px;
        font-size: 12px;
      }
    }
  }

  &__info {
    @include flexAlignCenter;
    gap: 10px;

    &-part {
      @include flexAlignCenter;
      gap: 4px;
    }

    &-part span {
      font-size: 14px;
      color: $black;

      @include onTablet {
        font-size: 12px;
      }
    }

    &-part:not(:last-child) {
      padding-right: 10px;
      border-right: 1px solid $black;
    }
  }

  &__info--main {
    @include onTablet {
      margin-left: 28%;
      padding-left: 10px;
    }

    @include onPhone {
      margin-left: 62px;
    }
  }

  &__info--speakers {
    position: absolute;
    right: 0;
    padding-left: 20px;
    padding-right: 54px;
    height: 54px;
    background-color: #e5ece8;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

    @include onTablet {
      position: static;
      padding-right: 20px;
      height: 40px;
      margin-right: -22px;
      width: 270px;
    }
  }

  &__about {
    @include flexJustifyBetweenAlignStart;
    gap: 102px;
    padding: 70px 0 54px 216px;

    @include onDesktopMiddle {
      padding: 70px 0 54px 140px;
    }

    @include onDesktopMini {
      padding: 70px 0 54px 48px;
    }

    @include onTablet {
      @include flexColumnJustifyCenterAlignStart;
      gap: 40px;
      padding: 54px 0 0 0;
    }

    &-info {
      @include flexColumn;
      gap: 40px;
      flex: 0.52;
      width: 52%;

      @include onTablet {
        gap: 32px;
        flex: 1;
        padding: 0 22px;
        width: 100%;
      }
    }

    &-description {
      @include flexColumn;
      gap: 14px;
      font-size: 16px;
      font-weight: 400;

      @include onTablet {
        gap: 10px;
      }

      &-bg {
        position: absolute;
        top: -8px;
        left: -6px;
        z-index: -1;
      }

      span {
        position: relative;
      }
    }

    &-description--marked {
      font-size: 20px;
      font-weight: 600;

      @include onTablet {
        margin-bottom: 30px;
      }
    }

    &-description--bold {
      font-weight: 600;

      @include onTablet {
        margin-top: 16px;
      }
    }

    &-swiper {
      margin-right: 0 !important;
      margin-left: 0 !important;
      width: 100%;

      &-container {
        position: relative;
      }

      &-button {
        &-prev {
          left: 20px !important;

          @include onPhone {
            left: -12px !important;
          }
        }

        &-next {
          right: 20px !important;

          @include onPhone {
            right: -12px !important;
          }
        }
      }

      &-slide {
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        height: 134px !important;
        padding: 10px 116px;
        background-color: $light-green;
        border-radius: 30px;

        @include onPhone {
          padding: 10px 34px;
        }

        &-text {
          span {
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;

            @include onPhone {
              font-size: 12px;
            }
          }
        }
      }
    }

    &-themes {
      width: 100%;

      &-container {
        @include flexColumn;
        gap: 16px;
        flex: 0.48;
        width: 100%;

        @include onTablet {
          gap: 9px;
          flex: 1;
        }
      }

      &-title {
        @include onTablet {
          padding-left: 20px;
        }

        span {
          font-size: 20px;
          font-weight: 600;
        }
      }
    }

    &-theme {
      padding: 26px 0 10px 0;
      border-bottom: 1px solid $gray;

      @include onTablet {
        padding: 24px 52px;
      }

      h4 {
        max-width: 432px;
      }
    }
  }

  &__targets {
    position: relative;
    padding: 100px 300px 0 300px;
    background-color: $bg-green;

    @include onDesktopMiddle {
      padding: 100px 144px 0 144px;
    }

    @include onDesktopMicro {
      padding: 100px 140px 0 48px;
    }

    @include onTablet {
      padding: 55px 22px 0 22px;
    }

    &-container {
      position: relative;

      @include onTablet {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 20px;
        padding-bottom: 65px;
        width: 100%;
      }
    }

    &-content {
      @include flexJustifyCenter;
      gap: 110px;

      @include onDesktopMicro {
        gap: 20px;
      }

      @include onTablet {
        @include flexColumnAlignStart;
        gap: 36px;
      }
    }

    &-info {
      @include flexColumn;
      gap: 26px;
      padding-top: 110px;

      @include onTablet {
        padding-top: 0;
        gap: 16px;
      }
    }

    &-title {
      max-width: 400px;

      @include onTablet {
        max-width: 314px;
      }
    }

    &-image {
      @include onTablet {
        display: none;
      }
    }

    &-image-mobile {
      display: none;
      position: absolute;
      bottom: 0;

      @include onTablet {
        display: block;
        left: 5px;
      }

      @include onPhone {
        left: -170px;
      }

      img {
        height: 390px;
      }
    }

    &-icon {
      position: absolute;
      top: 170px;
      left: 210px;

      @include onTablet {
        display: none;
      }
    }

    &-target {
      position: absolute;

      @include onTablet {
        position: static;
        display: flex;
        gap: 6px;
      }

      &-ellipse {
        @include onTablet {
          padding-top: 4px;
        }

        @include onPhone {
          padding-top: 2px;
        }

        img {
          width: 57px;
          height: 57px;

          @include onTablet {
            width: 9px;
            height: 9px;
          }
        }
      }

      &-description {
        position: absolute;
        width: 170px;
        top: 32px;
        left: 22px;

        @include onTablet {
          position: static;
          width: 430px;
        }

        @include onPhone {
          width: 192px;
          line-height: 12px;
        }

        span {
          font-size: 16px;
          font-weight: 600;

          @include onPhone {
            font-size: 12px;
          }
        }
      }
    }

    &-target--1 {
      bottom: 130px;
      left: 64px;
    }

    &-target--2 {
      top: 290px;
    }

    &-target--3 {
      top: 163px;
      left: 18px;
    }

    &-target--4 {
      top: 54px;
      left: 100px;
    }

    &-target--5 {
      top: 4px;
      left: 230px;
    }

    &-target--6 {
      top: 54px;
      right: 100px;
    }

    &-target--7 {
      top: 163px;
      right: 18px;
    }

    &-target--8 {
      top: 290px;
      right: -6px;
    }

    &-target--9 {
      bottom: 130px;
      right: 64px;
    }
  }

  &__speakers {
    position: relative;
    padding-top: 114px;
    padding-bottom: 30px;
    overflow: hidden;

    @include onTablet {
      padding-top: 76px;
    }

    &-wave {
      position: absolute;
      left: 0;
      bottom: -130px;
      z-index: -1;

      @include onDesktopWide {
        bottom: -56px;
      }

      @include onDesktopSmall {
        bottom: -20px;
      }

      @include onTablet {
        bottom: -38px;
        left: -280px;
      }

      img {
        width: 100vw;

        @include onDesktopMicro {
          width: auto;
        }
      }
    }

    &-content {
      @include flexJustifyBetweenAlignNo;
      margin-bottom: 114px;

      @include onPhone {
        flex-direction: column;
        align-items: flex-end;
        gap: 35px;
        margin-bottom: 52px;
      }
    }

    &-title {
      @include onPhone {
        width: 100%;
      }
    }

    &-swiper {
      @include onTablet {
        height: 650px;
      }

      &-container {
        position: relative;

        @include onDesktopMini {
          padding: 0 72px;
        }

        @include onDesktopMicro {
          padding: 0 20px;
        }

        @include onPhone {
          padding: 0 0;
        }
      }

      &-slide {
        display: flex;
        flex-direction: column;
        gap: 16px;
        max-width: 200px;

        @include onTablet {
          flex-direction: row;
          align-items: center;
          gap: 20px;
          max-width: none;
        }

        &-container {
          display: flex !important;
          justify-content: center;

          @include onTablet {
            height: calc((100% - 90px) / 4) !important;
          }
        }

        &-image {
          width: 200px;
          height: 200px;
          border-radius: 100%;

          @include onTablet {
            width: 140px;
            height: 140px;
          }

          img {
            @include fullImageContainerCover;
            border-radius: 100%;
          }
        }

        &-titles {
          @include flexColumn;
          gap: 14px;

          @include onTablet {
            max-width: 154px;
          }
        }

        &-title {
          span {
            font-size: 16px;
            font-weight: 600;
            text-transform: uppercase;
          }
        }
      }

      &-button {
        &-prev,
        &-next {
          top: 62% !important;

          @include onTablet {
            top: 50% !important;
          }
        }

        &-prev {
          left: -12px !important;
        }

        &-next {
          right: -12px !important;
        }
      }
    }
  }

  &__programm {
    position: relative;
    @include flexColumn;
    gap: 120px;
    padding-top: 122px;
    padding-bottom: 70px;

    @include onTablet {
      padding-top: 78px;
      padding-top: 122px;
      gap: 60px;
    }

    &-wave,
    &-wave-mobile {
      position: absolute;
      left: 0;
      z-index: -1;
      overflow: hidden;
    }

    &-wave {
      height: 40%;
      bottom: 0;

      @include onTablet {
        display: none;
      }

      img {
        display: block;
        width: 100vw;
        height: 100%;
        object-fit: cover;
        object-position: top;

        @include onDesktopMicro {
          width: auto;
        }
      }
    }

    &-wave-mobile {
      display: none;
      left: 0;
      bottom: 0;
      width: 100vw;
      height: 1080px;

      @include onTablet {
        display: block;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
    }

    &-titles {
      @include flexJustifyAlignBetween;

      @include onTablet {
        @include flexColumnAlignStart;
        gap: 16px;
      }
    }

    &-title {
      position: relative;

      img {
        position: absolute;
        top: -10px;
        left: -10px;
        z-index: -1;

        @include onTablet {
          display: none;
        }
      }
    }

    &-date {
      &-buttons {
        @include flexAlignCenter;
        gap: 2px;

        @include onTablet {
          justify-content: center;
          width: 100%;
        }
      }

      &-button {
        @include flexJustifyAlignCenter;

        span {
          padding: 4px 26px;
          border-radius: 40px;
          font-size: 38px;
          font-weight: 600;
          transition: all 0.2s ease-in-out;
          cursor: pointer;

          @include onTablet {
            padding: 4px 20px;
            font-size: 24px;
          }
        }
      }

      &-button:hover {
        span {
          color: $white;
          background-color: $orange;
        }
      }

      &-button--active {
        span {
          color: $white;
          background-color: $orange;
        }
      }
    }

    &-schedule {
      @include flexColumn;
      gap: 8px;
      padding-bottom: 54px;
      border-bottom: 1px solid $gray;

      @include onTablet {
        padding-bottom: 30px;
      }

      &-container {
        @include flexColumn;
        gap: 54px;
        padding: 0 112px;

        @include onTablet {
          gap: 30px;
          padding: 0 20px;
        }

        @include onPhone {
          padding: 0;
        }
      }

      &-title {
        h4 {
          font-weight: 600;
        }
      }

      &-info {
        @include flexJustifyStart;
        gap: 104px;

        @include onPhone {
          @include flexColumn;
          gap: 8px;
        }
      }

      &-time {
        span {
          font-size: 14px;
          color: $light-gray;
        }
      }

      &-description {
        span {
          font-size: 14px;

          @include onTablet {
            font-size: 12px;
          }
        }

        &-container {
          @include flexColumn;
          gap: 20px;
        }

        &-speaker {
          @include flexAlignCenter;
          gap: 6px;

          span {
            font-size: 16px;
            font-weight: 600;
            text-transform: uppercase;

            @include onTablet {
              font-size: 12px;
            }
          }
        }
      }

      &-break,
      &-description-container,
      &-title,
      &-time {
        flex: 0.5;
      }

      &-break,
      &-time {
        @include onPhone {
          flex: none;
        }
      }

      &-break {
        span {
          font-size: 16px;
          color: $light-gray;
          text-transform: uppercase;

          @include onTablet {
            font-size: 12px;
          }
        }
      }
    }

    &-schedule--break {
      @include flexJustifyAlignBetween;
      flex-direction: row;
      gap: 104px;
    }

    &-goals {
      @include flexJustifyAlignBetween;
      gap: 20px;
      width: 100%;

      @include onTablet {
        @include flexColumnAlignCenter;
        gap: 56px;
      }

      &-container {
        @include flexColumnAlignCenter;
        gap: 72px;
        padding: 0 112px;

        @include onTablet {
          gap: 58px;
          padding: 0 20px;
        }
      }

      &-subtitle {
        max-width: 460px;

        h4 {
          font-weight: 600;
          text-align: center;
        }
      }
    }

    &-goal {
      @include flexColumnAlignCenter;
      gap: 14px;
      width: 130px;

      @include onTablet {
        gap: 26px;
      }

      &-icon {
        height: 130px;
        width: 130px;

        img {
          display: block;
          width: $full-width;
          height: $full-height;
          object-fit: contain;
          object-position: bottom;
        }
      }

      &-text {
        font-size: 12px;
        font-weight: 600;

        @include onTablet {
          font-size: 12px;
        }
      }
    }
  }

  &__organizators {
    @include flexColumn;
    gap: 110px;
    background-color: $light-green;

    @include onTablet {
      gap: 54px;
    }

    &-swiper {
      padding: 0 60px !important;

      @include onTablet {
        height: 360px;
      }

      &-container {
        position: relative;
      }

      &-slide {
        &-container {
          display: flex !important;
          justify-content: center;

          @include onTablet {
            height: calc((100% - 100px) / 3) !important;
          }
        }

        &-image {
          width: 170px;
          height: 80px;

          @include onPhone {
            width: 120px;
            height: 60px;
          }

          img {
            @include fullImageContainerContain;
          }
        }
      }
    }
  }

  &__button-take-part {
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 2;
  }

  &__swiper-button {
    @include onTablet {
      display: none;
    }
  }

  &__swiper-button-mobile {
    display: none;

    @include onTablet {
      display: block;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    z-index: 2 !important;
  }

  .swiper-button-prev {
    transform: rotate(-180deg);
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    content: '';
    display: none;
  }
}
