@import '../utils/mixins';

.page-conference {
  &__container {
    padding-left: 216px;
    padding-right: 216px;

    @include onDesktopMini {
      padding-left: 48px;
      padding-right: 48px;
    }

    @include onTablet {
      padding-left: 22px;
      padding-right: 22px;
    }
  }

  &__container-scroll--disable {
    overflow-y: hidden;
  }
}
