<footer class="conference__footer">
  <div class="conference__footer-content page-conference__container">
    <div class="conference__footer-logo">
      <a href="#">
        <img
          class="conference__footer-logo-image"
          src="src/assets/icons/logo.png"
          alt="logo"
        />

        OD&D
      </a>
    </div>

    <ul class="conference__footer-list">
      <li class="conference__footer-item">
        <a href="#" class="conference__footer-link">Про подію</a>
      </li>

      <li class="conference__footer-item">
        <a href="#" class="conference__footer-link">Спікери</a>
      </li>

      <li class="conference__footer-item">
        <a href="#" class="conference__footer-link">Програма</a>
      </li>

      <li class="conference__footer-item">
        <a href="#" class="conference__footer-link">Вартість</a>
      </li>

      <li class="conference__footer-item">
        <a href="#" class="conference__footer-link">FAQ</a>
      </li>
    </ul>

    <div class="conference__footer-logo">
      <a href="#">
        <img
          class="conference__footer-logo-image"
          src="src/assets/icons/freedom-humanity.svg"
          alt="logo"
        />
      </a>
    </div>
  </div>

  <div class="conference__footer-social-links page-conference__container">
    <a href="" class="conference__footer-social-link">
      <img src="src/assets/icons/linkedin.svg" alt="linkedin" />
    </a>

    <a href="" class="conference__footer-social-link">
      <img src="src/assets/icons/facebook.svg" alt="facebook" />
    </a>
  </div>

  <div class="conference__footer-rights page-conference__container">
    <span>2024. All rights reserved.</span>
  </div>
</footer>
