<header class="conference__header page-conference__container">
  <nav class="conference__nav">
    <div class="conference__nav-content">
      <div class="conference__nav-logo">
        <a href="#">
          <img
            class="conference__nav-logo-image"
            src="src/assets/icons/logo.png"
            alt="logo"
          />

          OD&D
        </a>
      </div>

      <ul class="conference__nav-list">
        <li class="conference__nav-item">
          <a href="#" class="conference__nav-link">Про подію</a>
        </li>

        <li class="conference__nav-item">
          <a href="#" class="conference__nav-link">Спікери</a>
        </li>

        <li class="conference__nav-item">
          <a href="#" class="conference__nav-link">Програма</a>
        </li>

        <li class="conference__nav-item">
          <a href="#" class="conference__nav-link">Вартість</a>
        </li>

        <li class="conference__nav-item">
          <a href="#" class="conference__nav-link">FAQ</a>
        </li>
      </ul>

      <div class="conference__nav-button button-conference">
        <a href="" class="button-conference__link">Взяти участь</a>
      </div>
    </div>
  </nav>
</header>
