<header class="header-conference page-conference__container">
  <nav class="nav-conference">
    <div class="nav-conference__content">
      <div class="nav-conference__logo">
        <a href="#">
          <img
            class="nav-conference__logo-image"
            src="src/assets/icons/logo.png"
            alt="logo"
          />

          OD&D
        </a>
      </div>

      <ul class="nav-conference__list">
        <li class="nav-conference__item">
          <a href="#" class="nav-conference__link">Про подію</a>
        </li>

        <li class="nav-conference__item">
          <a href="#" class="nav-conference__link">Спікери</a>
        </li>

        <li class="nav-conference__item">
          <a href="#" class="nav-conference__link">Програма</a>
        </li>

        <li class="nav-conference__item">
          <a href="#" class="nav-conference__link">Вартість</a>
        </li>

        <li class="nav-conference__item">
          <a href="#" class="nav-conference__link">FAQ</a>
        </li>
      </ul>

      <div class="nav-conference__button button-conference">
        <a href="" class="button-conference__link">Взяти участь</a>
      </div>
    </div>
  </nav>
</header>
