$white: #fff;
$black: #000;
$purple: #404fd0;
$light-purple: #ccd1ff;
$green: #038647;
$bg-green: #83d45d;
$orange: #ff8a00;
$gray: #d9d9d9;
$light-gray: #b3b3b3;
$light-green: #e5ece8;

$full-width: 100%;
$full-height: 100%;
